.App {
  text-align: center;
}

.pageContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blockContainer {
  display: grid;
  grid-template-columns: repeat(10, 20px);
}

.block {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border: 2px solid black;
}

.button {
  margin: 2px;
}
