.pageContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets//cloud.jpg");
    background-attachment: fixed;
  }
  
  .gridWrapper {
    margin: 0;
    border: 2px solid blue;
    background: var(--grid-bg);
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .blockContainer25 {
    display: grid;
    grid-template-columns: repeat(25, 20px);
    background: var(--grid-secondary);
    border-radius: 4px;
    max-height: 100%;
  }
  
  .block {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: var(--grid-secondary);
    border-radius: 4px;
  }
  
  .block:hover {
    background: var(--grid-primary);
  }
  
  .button {
    margin: 2px;
    background: var(--button-primary);
    color: var(--button-secondary);
    border-radius: 6px;
    box-shadow: none;
    font-size: 20px;
    padding: 0 12px 0 12px;
  }
  
  .button:hover {
    background: var(--button-hover-primary);
    color: var(--button-hover-secondary);
  }
  
  .speedButton {
    margin: 0;
    background: var(--button-primary);
    color: var(--button-secondary);
    border-radius: 8px;
    box-shadow: none;
    font-size: 1rem;
    padding: 0 12px 0 12px;
  }
  
  .speedButton:hover {
    background: var(--button-hover-primary);
    color: var(--button-hover-secondary);
  }
  
  .speedContainer {
    margin-top: 2px;
    height: 5rem;
    width: 15%;
    border-radius: 6px;
    background: var(--grid-speed);
    transition: width 200ms ease;
  }
  
  .speedContainer:hover {
    width: 100%;
  }
  
  .speedContainer:hover .speedItem {
    visibility: visible;
    opacity: 1;
    transition: 400ms;
  }
  
  .speedWrapper {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
  }
  
  .arrowWrapper {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .arrowWrapper span {
    margin-left: 4px;
    text-decoration: none;
    cursor: default;
    color: var(--grid-speed-text);
    font-size: 1rem;
  }
  
  .arrowWrapper i {
    color: var(--grid-speed-text);
  }
  
  .speedNav {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  
  .speedItem {
    margin: 0;
    display: flex;
    visibility: hidden;
    align-items: center;
    height: 2.5rem;
    text-decoration: none;
    opacity: 0;
  }
  
  .speedItem i {
    min-width: 2rem;
  }
  
  .speedText {
    margin-left: 0;
  }
  
  /* Media query 1600px ----- */
  @media (max-width: 1600px) {
      .gridWrapper {
          width: 80%;
      }
  }
  /* Media query 1600px ----- */

  /* Media query 1200px ----- */
  
  @media (max-width: 1200px) {
    .gridWrapper {
      height: 100%;
      flex-direction: column;
    }

    .pageContainer {
        height: 100%;
    }
  }

  .speedContainer {
    margin-bottom: 10px;
  }
  
  /* Media query 1200px ----- */

  @media(max-height: 800px) {
      .pageContainer {
          height: 100%;
      }
  }